@let product = this.product(); @if (product) {
<div class="product">
  <div class="main" (click)="this.router.navigate(['product', product.id]);">
    <img [ngSrc]="product.thumbnail" [alt]="product.title" width="200" height="200" priority />
    <div class="title">{{ product.title }}</div>
  </div>
  <div class="buy">
    <span>BUY </span>
    <span>{{ product.price }}</span>
    <mat-icon>euro</mat-icon>
  </div>
  <div class="actions">
    <button class="favorite" [class.active]="product.favorite" (click)="onFavorite(product)">
      <mat-icon>favorite</mat-icon>
    </button>
    <button class="favorite" (click)="viewProduct(product)">
      <mat-icon>visibility</mat-icon>
    </button>
  </div>
</div>
}