@let product = this.product(); @if (product) {
<div class="product">
  <div class="container" (click)="viewProduct(product)">
    <img [src]="product.thumbnail" [alt]="product.title" />
    <div class="title">{{ product.title }}</div>
    <div class="data">
      <div class="info">
        <span>{{ product.price }}</span>
        <mat-icon>euro</mat-icon>
      </div>
      <div class="info">
        <span>{{ product.rating }}</span>
        <mat-icon>star</mat-icon>
      </div>
    </div>
  </div>
  <button
    class="favorite"
    [class.active]="product.favorite"
    (click)="onFavorite(product)"
  >
    <mat-icon>favorite</mat-icon>
  </button>
</div>
}
