@let product = this.product(); @if (product) {
<div class="product">
  <div class="main" (click)="this.router.navigate(['product', product.id]);">
    <img [ngSrc]="product.thumbnail" [alt]="product.title" width="200" height="200" priority />
    <div class="title">{{ product.title }}</div>
  </div>
  @if(product.cart){
  <div class="cart block">
    <button (click)="onCount(product, -1)">
      <mat-icon>remove</mat-icon>
    </button>
    <span>{{product.cart}} x {{ product.price }}</span>
    <button (click)="onCount(product, 1)">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  }
  @else {
  <button class="buy block" (click)="onAddToCart(product)">
    <span>BUY </span>
    <span>{{ product.price }}</span>
    <mat-icon>euro</mat-icon>
  </button>
  }
  <div class="actions">
    <button class="favorite" [class.active]="product.favorite" (click)="onFavorite(product)">
      <mat-icon>favorite</mat-icon>
    </button>
    <button class="favorite" (click)="viewProduct(product)">
      <mat-icon>visibility</mat-icon>
    </button>
  </div>
</div>
}