.product {
  text-decoration: none;
  background-color: white;
  margin: 0;
  border-radius: 1em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: all 0.2s;
  padding: 2em;
  display: grid;
  gap: 1em;
  .main {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    gap: 1em;
    cursor: pointer;
    img {
      width: auto;
      height: 200px;
      transition: all 0.5s;
    }
    .title {
      font-weight: 500;
      height: 40px;
      overflow: hidden;
    }
  }
  .buy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-color: var(--color-primary);
    border-radius: 1em;
    padding: 1em;
    color: white;
    margin-bottom: -1em;
    cursor: pointer;
  }
  .actions{
    position: absolute;
    top: 1em;
    right: 1em;
    display: grid;
    gap: .5em;
    .favorite {
      border-radius: 100px;
      border: none;
      cursor: pointer;
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      mat-icon {
        zoom: 0.8;
      }
      &.active {
        background-color: var(--color-primary);
        color: white;
      }
      &:hover:not(.active) {
        color: var(--color-primary);
      }
    }
  }
}
