img {
  width: 100%;
}
mat-dialog-actions {
  display: flex;
  justify-content: space-between;
  .flex {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  .data {
    display: flex;
    align-items: center;
    gap: 0.5em;
    mat-icon {
      zoom: 0.8;
    }
  }
}
